{% if user.is_authenticated %}
{% else %}
<div class="container-fluid font-poppins topbar-area">
    <div class="row g-0">
        <div class="col col-md-4">
            <div class="p-2 my-2 h4">Epic Language World</div>
        </div>
        <div class="col-md-1">
        <div class="p-1">
            <button class="btn btn-custom" data-bs-toggle="modal"
            data-bs-target="#login">LogIn</button>

            <div class="modal fade" id="login" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
            
                        <div class="modal-header">
                            <h4 class="modal-title">LogIn</h4>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
            
                        <div class="modal-body">
                            <form action="{% url 'login' %}" method="post" class="font-poppins">
                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="username"
                                    id="floatingInput">
                                    <label for="floatingInput">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password"
                                    id="floatingPassword">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <input type="submit" value="LogIn" class="btn btn-custom">
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="p-3 text-center">
                <i class="d-inline bi bi-envelope-open mx-3 text-red"></i>
                <span>epiclanguageworld@gmail.com</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 text-center">
            <div class="p-3 mx-auto">
                <i class="d-inline bi bi-telephone-fill mx-3 text-red"></i>
                <span>+95 9458042468</span>
            </div>
        </div>
    </div>
</div>
{% endif %}