{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<h2 class="d-flex justify-content-center">Lastest Achievements</h2>
<div class="row card-area">
    {% for item in video %}
        <div class="col-sm-1 col-md-6 my-2">

            <div class="card mx-auto card-size">
                <a href="" data-bs-toggle="modal" data-bs-target="#videomodal{{ item.id }}">
                    <img src="{% static '/images/scimmia.png' %}" alt="Image cap" class="card-img-top">
                </a>
                <div class="card-body overflow-y">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">
                        {{ item.description }}
                    </p>
                </div>

                <div class="modal fade" id="videomodal{{ item.id }}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">{{ item.title }}</h4>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                {% video item.url '100% x 320' %}
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endfor %}    
</div>
    
{% endblock %}

{% block script %}
<script src="{% static '/js/card.js' %}"></script>
{% endblock script %}