{% extends "learn/user_base.html" %}
{% block content %}
    {% for section in sections %}
    <a class="btn btn-custom mx-5" href="{% url 'question-list' user.username section.id %}">
        <div class="card my-2" style="width: 18rem; border: none; background: transparent;">
            <div class="card-header mx-auto">{{section}}</div>
            <div class="card-body">
                <h6 class="card-title mb-2 mx-auto">Card subtitle</h6>
                <p class="card-text mx-2">
                    Some quick example text to build on the card title and make up the 
                    bulk of the card's content.
                </p>
            </div>
        </div>
    </a>
    {% endfor %}
{% endblock content %}